INSERT INTO {{ org_id }}.alert (timestamp, org_id, detection_time, alert_name, alert_severity, alert_type, confidence_level, condidence_score, remediation_steps, rule_id, source_table, tactics, techniques) SELECT timestamp, org_id, now(), 'Remote PowerShell Session (PS Classic)', 'low', 'scheduled alert', 'High', 100, 'Remediation steps', '60167e5c-84b2-4c95-a7ac-86281f27c445', 'logs_nxlog_windows', 'execution, lateral_movement', 'T1059.001, T1021.006' FROM {{ org_id }}.logs_nxlog_windows WHERE process_parent_command_line ILIKE '%HostName=ServerRemoteHost%' AND process_parent_command_line ILIKE '%wsmprovhost.exe%'