INSERT INTO {{ org_id }}.alert (timestamp, org_id, detection_time, alert_name, alert_severity, alert_type, confidence_level, condidence_score, remediation_steps, rule_id, source_table, tactics, techniques) SELECT timestamp, org_id, now(), 'Netcat The Powershell Version', 'medium', 'scheduled alert', 'High', 100, 'Remediation steps', 'c5b20776-639a-49bf-94c7-84f912b91c15', 'logs_nxlog_windows', 'command_and_control', 'T1095' FROM {{ org_id }}.logs_nxlog_windows WHERE process_parent_command_line ILIKE '%powercat %' OR process_parent_command_line ILIKE '%powercat.ps1%'