INSERT INTO {{ org_id }}.logs_alert
(
    alert_description,
    alert_framework,
    alert_ratingtime_sla_applies,
    alert_rule_name,
    alert_schedule,
    alert_schedule_duration,
    alert_severity,
    alert_triage_score,
    alert_type,
    detected_time,
    event_original,
    org_id,
    source_table,
    tactic_id,
    tactic_name,
    tactic_reference,
    technique_id,
    technique_name,
    technique_reference,
    timestamp,
    client_address,
    client_hostname,
    client_ip,
    client_user_name,
    destination_ip,
    device_hostname,
    event_created,
    event_info,
    event_record_subtype,
    event_record_type,
    event_start,
    server_hostname,
    source_hostname,
    source_ip,
    source_user_name
)
SELECT
    'This method detects well-known keywords, certain field combination that appear in Windows Eventlog when certain hack tools are used',
    'MITRE ATT&CK',
    'none',
    'win_alert_hacktool_ruler',
    'smd',
    'None',
    'high',
    60,
    'Possible Malicious Hacking Tools',
    NOW(),
    event_original,
    '{{ org_id }}',
    'windows_audit',
    'TA0005, TA0007, TA0009',
    'Defense Evasion, Discovery, Collection',
    'https://attack.mitre.org/tactics/TA0005, https://attack.mitre.org/tactics/TA0007, https://attack.mitre.org/tactics/TA0009',
    'T1562.006, T1054, T1087, T1114',
    'Indicator Blocking, Account Discovery, Email Collection',
    'https://attack.mitre.org/techniques/T1562/006, https://attack.mitre.org/techniques/T1054, https://attack.mitre.org/techniques/T1087, https://attack.mitre.org/techniques/T1114',
    timestamp,
    client_address,
    device_hostname,
    client_ip,
    client_user_name,
    destination_ip,
    device_hostname,
    event_created,
    event_info,
    event_record_subtype,
    event_record_type,
    event_start,
    server_hostname,
    source_hostname,
    source_ip,
    source_user_name
FROM {{ org_id }}.windows_audit
WHERE (event_record_type IN ('4776', '4624', '4625')) AND ((device_hostname IN ('RULER')) OR (client_user_domain IN ('RULER'))) AND ((device_hostname IN ('RULER')) AND (client_user_domain IN ('RULER')))