INSERT INTO {{ org_id }}.alert (timestamp, org_id, detection_time, alert_name, alert_severity, alert_type, confidence_level, condidence_score, remediation_steps, rule_id, source_table, tactics, techniques) SELECT timestamp, org_id, now(), 'Potential RemoteFXvGPUDisablement.EXE Abuse', 'high', 'scheduled alert', 'High', 100, 'Remediation steps', 'f65e22f9-819e-4f96-9c7b-498364ae7a25', 'logs_nxlog_windows', 'defense_evasion', 'T1218' FROM {{ org_id }}.logs_nxlog_windows WHERE process_parent_command_line ILIKE '%ModuleContents=function Get-VMRemoteFXPhysicalVideoAdapter {%'