INSERT INTO {{org_id}}.{{target_table_name}}
(
    alert_description,
    alert_framework,
    alert_ratingtime_sla_applies,
    alert_rule_name,
    alert_schedule,
    alert_schedule_duration,
    alert_severity,
    alert_triage_score,
    alert_type,
    detected_time,
    logoriginal,
    org_id,
    source_table,
    tactic_id,
    tactic_name,
    tactic_reference,
    technique_id,
    technique_name,
    technique_reference,
    timestamp,
    account_name,
    destination_hostname,
    destination_ip,
    destination_ip_ip4,
    destination_ip_ip6,
    destination_is_ipv6,
    destination_port,
    destination_port_name,
    domain,
    event_id,
    event_type,
    failure_reason,
    hostname,
    ip_address,
    ip_address_ip4,
    ip_address_ip6,
    ip_port,
    member_name,
    message,
    new_target_user_name,
    old_target_user_name,
    reason,
    session_spn,
    source_hostname,
    source_ip,
    source_ip_ip4,
    source_ip_ip6,
    source_is_ipv6,
    source_port,
    source_port_name,
    status,
    subject_domain_name,
    subject_user_name,
    target_domain_name,
    target_user_name,
    user,
    workstation,
    workstation_name,
    parent_image,
    sysmon_parent_image,
    parent_process_name,
    sysmon_image,
    image,
    new_process_name,
    process_name,
    logon_type
)
SELECT
    'Common Activities - fill your boots with a use rule',
    'MITRE ATT&CK',
    'true',
    'win_password_reset',
    'smd',
    '1m',
    'high',
    60,
    'Jokey joke',
    NOW(),
    logoriginal,
    '{{org_id}}',
    'logs_nxlog_windows',
    'TA0003, TA0004',
    'Persistence, Privilege Escalation',
    'https://attack.mitre.org/tactics/TA0003, https://attack.mitre.org/tactics/TA0004',
    'T1098',
    'Account Manipulation',
    'https://attack.mitre.org/techniques/T1098',
    timestamp,
    account_name,
    destination_hostname,
    destination_ip,
    destination_ip_ip4,
    destination_ip_ip6,
    destination_is_ipv6,
    destination_port,
    destination_port_name,
    domain,
    event_id,
    event_type,
    failure_reason,
    hostname,
    ip_address,
    ip_address_ip4,
    ip_address_ip6,
    ip_port,
    member_name,
    message,
    new_target_user_name,
    old_target_user_name,
    reason,
    session_spn,
    source_hostname,
    source_ip,
    source_ip_ip4,
    source_ip_ip6,
    source_is_ipv6,
    source_port,
    source_port_name,
    status,
    subject_domain_name,
    subject_user_name,
    target_domain_name,
    target_user_name,
    user,
    workstation,
    workstation_name,
    parent_image,
    sysmon_parent_image,
    parent_process_name,
    sysmon_image,
    image,
    new_process_name,
    process_name,
    logon_type
FROM
    {{org_id}}.logs_nxlog_windows
WHERE
    (event_id IN ('4624', '4625', '4634', '4648', '4663', '4672', '4688', '4768', '4776', '5140', '5858'))
